.progress-bar-outer {
    height: 8px;
    width: 100%;
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
}
.progress-bar-inner {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #4B2994 40%, #8B5CF6 100%);
    animation: progressBar 1.2s linear infinite;
}

@keyframes progressBar {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}
